<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All" verbose="1">
    <test name="LoginTest">
        <classes>
            <class name="com.it.tests.LoginTest"/>
        </classes>
    </test>
    <test name="SendLetterTest">
        <classes>
            <class name="com.it.tests.SendLetterTest"/>
        </classes>
    </test>

</suite>
